src/flows/LTA_Task_Assignment_from_Process_Builder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Currently since there is no documented way to get prior values like a process builder flow, we will leverage a process builder to handle the decision logic.</description>
    <interviewLabel>LTA Task Assignment from Process Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LTA Task Assignment from Process Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Primary_Division_Task</name>
        <label>Create Primary Division Task</label>
        <locationX>614</locationX>
        <locationY>273</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Record.Date_LBB_Fiscal_Impact_Statement_Due__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A Legislative Budget Board (LBB) Fiscal Impact Statement has been requested. Please upload the Fiscal Impact Statement to the Bill Analysis and mark this Task as Complete when finished.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Primary_Division_Bill_Analysis_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Fiscal Impact Statement Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Primary_Division_Bill_Analysis_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SLA_Task</name>
        <label>Create SLA Task</label>
        <locationX>460</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>Create_Primary_Division_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Record.Date_LBB_Fiscal_Impact_Statement_Due__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A Legislative Budget Board (LBB) Fiscal Impact Statement has been requested. Please upload the Fiscal Impact Statement to the Bill and mark this Task as Complete when finished and ensure that you populate the LBB FIS Submitted Date on the Bill record.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Record.Legislative_Liaison_SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Fiscal Impact Statement Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Primary_Division_Bill_Analysis_Record</name>
        <label>Get Primary Division Bill Analysis Record</label>
        <locationX>322</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SLA_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Link_to_Bill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Primary_Division_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LTA_Bill_Analysis__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Primary_Division_User</name>
        <label>Get Primary Division User</label>
        <locationX>176</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Division_Bill_Analysis_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Primary_Division__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legislative Coordinator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>52</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Primary_Division_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Bill_Analysis_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LTA_Bill_Analysis__c</objectType>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LTA_Bill__c</objectType>
    </variables>
</Flow>
